<a href="https://colab.research.google.com/github/juannlima73/Introducao_programacao_com_Python/blob/main/3_0_Variaveis_e_Entrada_de_Dados_(Python).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 3. Variaveis e Entrada de Dados

***
Represente o valos numéricos em Python
***

5 x 10² + 3 x 10¹ + 1 x 10(elevado a zero)
= 531

In [ ]:
calculo = 5 * 10**2 + 3 * 10**1 + 1 * 10**0


print(calculo)

531

***
3.3.1 Operadores relacionais
***

> a = 1 # a recebe 1
> b = 5 # b recebe 5
> c = 2 # c recebe 2
> d = 1 # d recebe 1

> a == b # a é igual a b ?

> b > a # b é maior que a ?
> a < b # a é maior que b ?

> a == d # a é igual a d ?

> b >= a # b é maior ou igual a ?
> c <= b # c é menor ou igual b ?

> d != a # d é diferente de a ?
> d != b # d é maior ou igual b ?

In [ ]:
a = 1
b = 5
c = 2
d = 1

print(f'A é igual a B ?', a == b)
print(f'\n B é maior que A ?', b > a)
print(f'\n A é menor que B ?', a < b)
print(f'\n A é igual a D ?', a == d)
print(f'\n B é maior ou igual A ?', b >= a)
print(f'\n C é menor ou igual B ?', c <= b)
print(f'\n D é diferente de A ?', d != a)
print(f'\n D é diferente de B ?', d != b)

A é igual a B ? False

 B é maior que A ? True

 A é menor que B ? True

 A é igual a D ? True

 B é maior ou igual A ? True

 C é menor ou igual B ? True

 D é diferente de A ? False

 D é diferente de B ? True

***
3.3.2 Operadores lógicos
***

> Operador not - Tabela da Verdade

In [ ]:
print(not True)

print(not False)

False
True

> Operador and - Tabela da Verdade

In [ ]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

> Operador or - Tabela da Verdade

In [ ]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

***
Exercicio
***

3.2 Complete a tabela a seguir, respondendo True ou False. Considere a = 4, b = 10, c = 5.0, d = 1 e f = 5

In [ ]:
a = 4
b = 10
c = 5.0
d = 1
f = 5

print(
    '\n',a == c,
    '\n',a < b,
    '\n',d > b,
    '\n',c != f,
    '\n',a == b,
    '\n',c < d,
    '\n',b > a,
    '\n',c >= f,
    '\n',f >= c,
    '\n',c <= c,
    '\n',c <= f
      )

 False
 True
 False
 False
 False
 False
 True
 True
 True
 True
 True

3.3 Complete a tabela a seguir utilizando a = True, b = False e c = True.

In [ ]:
a = True
b = False
c = True


print(
     '\n', a and a,
     '\n', b and b,
     '\n', not c,
     '\n', not b,
     '\n', not a,
     '\n', a and b,
     '\n', b and c,
     '\n', a or c,
     '\n', b or c,
     '\n', c or a,
     '\n', c or b,
     '\n', c or c,
     '\n', b or b
)

 True
 False
 False
 True
 False
 False
 False
 True
 True
 True
 True
 True
 False

In [ ]:
print( True or False and not True)

True

> Exemplos de expressões lógicas

Imagine que salario > 1000 and idade > 18 seja uma condição para um emprétimo de compra de um carro novo. Quando o salario = 100 e idade = 20, qual sera o resultado da expressão ?

In [ ]:
salario = 100
idade = 20

if salario > 1000 and idade > 18:
    print('Condições atendidas para emprestimo')
else:
    print('As condições não foram atendidas para o emprestimo')

As condições não foram atendidas para o emprestimo

***
Exercicios
***

3.4 Escreva uma expressão para determinar se uma pessoa deve ou não pagar imposto. Considere que pagar imposto pessoas cujo salário é maior que E$ 1.200,00

In [ ]:
fatoGeradorImposto = 1200
salario = 50000

if salario >= fatoGeradorImposto:
    print('As condições foram atendidas, o contribuinte deve pagar imposto')
else:
    print('As condições não foram atendidas, o contribuite está isento do imposto')

As condições foram atendidas, o contribuinte deve pagar imposto

3.5 Calcule o resultado da expressão A > B and C or D

In [ ]:
A = 5
B = 1
C = True
D = True

expressao = A > B and C or D
print(expressao)

True

3.6 Escreva uma expressão que será utilizada para decidir se um aluno foi ou não aprovado. Para ser aprovado, todas as médias do aluno devem ser maiors que 7. Considere que o aluno cursa apenas três matérias, e que a nota de cada uma está armaezenada nas seguintes variáveis: materia1, materia2, materia3.

In [ ]:
materia1 = 2
materia2 = 3
materia3 = 7

mediaAprovacao = 7

if materia1 > mediaAprovacao and materia2 > mediaAprovacao and materia3 > mediaAprovacao:
    print('Aprovado')
else:
    print('Reprovado, tente novamente ano que vem :D')

Reprovado, tente novamente ano que vem :D

***
3.4 Variáveis string
***

In [ ]:
a = len("a")
AB = len("AB")
vazio = len("")
rato_roeu = len("O rato roeu a roupa")

print(a)
print(AB)
print(vazio)
print(rato_roeu)

1
2
0
19

> Acessando um indice de uma determinada string

In [ ]:
a = "ABCDEFG"

# Definindo os índices
indice0 = 0
indice1 = 1
indice5 = 5
indice6 = 6

# Verificando se o índice está dentro dos limites da string
if indice0 >= len(a):
    print(f'Não foi possível acessar o índice {indice0}, pois é superior ao comprimento da string: {len(a)-1}')
elif indice1 >= len(a):
    print(f'Não foi possível acessar o índice {indice1}, pois é superior ao comprimento da string {len(a)-1}')
elif indice5 >= len(a):
    print(f'Não foi possível acessar o índice {indice5}, pois é superior ao comprimento da string {len(a)-1}')
elif indice6 >= len(a):
    print(f'Não foi possível acessar o índice {indice6}, pois é superior ao comprimento da string {len(a)-1}')
else:
    # Se todos os índices são válidos, podemos acessar e imprimir os caracteres correspondentes
    print(f'Caractere no índice {indice0}: {a[indice0]}')
    print(f'Caractere no índice {indice1}: {a[indice1]}')
    print(f'Caractere no índice {indice5}: {a[indice5]}')
    print(f'Caractere no índice {indice6}: {a[indice6]}')

Caractere no índice 0: A
Caractere no índice 1: B
Caractere no índice 5: F
Caractere no índice 6: G

3.4.1.1 Concatenação

In [ ]:
s = 'ABC'

print( s + "C" )

print ( s + "D" * 4 )

print ( "X" + "-" * 10 + "X" )

print ( s + "x4 = " + s * 4 )

ABCC
ABCDDDD
X----------X
ABCx4 = ABCABCABCABC

3.4.1.2 Composição

> Marcadores

%d Números inteiros

%s Strings

%f Números decimais

In [ ]:
idade = 22

print( "[%d]" % idade )

print ( "[%03d]" % idade )

print ( "[%3d]" % idade )

print ( "[%-3d]" % idade )

[22]
[022]
[ 22]
[22 ]

In [ ]:
"R$%5.2f" % 5

'R$ 5.00'

Imagine que João tem 22 anos e apenas R$ 51,34 no bolso. Exiba essa mensagem utilizando Composição

In [ ]:
"%s tem %d anos e apenas R$%6.2f no bolso" % ("João", 22, 51.34)

'João tem 22 anos e apenas R$ 51.34 no bolso'

> Modelos formatação .format

In [ ]:
nome = "João"
idade = 22
grana = 51.34

"{} tem {} anos e R$ {} no bolso." .format(nome,idade,grana)

'João tem 22 anos e R$ 51.34 no bolso.'

In [ ]:
"{:12} tem {:3} anos e R$ {:5.2f} no bolso." .format(nome, idade, grana)

'João         tem  22 anos e R$ 51.34 no bolso.'

In [ ]:
"{:12} tem {:03} anos e R$ {:5.2f} no bolso." .format(nome, idade, grana)

'João         tem 022 anos e R$ 51.34 no bolso.'

In [ ]:
"{:<12s} tem {:<3} anos e R$ {:5.2f} no bolso." .format(nome, idade, grana)

'João         tem 22  anos e R$ 51.34 no bolso.'

> Modelos formatação f-string

In [ ]:
nome = "João"
idade = 22
grana = 51.34

f"{nome} tem {idade} anos e R$ {grana} no bolso"

'João tem 22 anos e R$ 51.34 no bolso'

In [ ]:
f"{nome:12} tem {idade:3} anos e R$ {grana:5.2f} no bolso"

'João         tem  22 anos e R$ 51.34 no bolso'

In [ ]:
f"{nome:12} tem {idade:03} anos e R$ {grana:5.2f} no bolso"

'João         tem 022 anos e R$ 51.34 no bolso'

In [ ]:
f"{nome:<12s} tem {idade:<3} anos e R$ {grana:5.2f} no bolso"

'João         tem 22  anos e R$ 51.34 no bolso'

3.4.1.3 Fatiamento de string

In [ ]:
s = "ABCDEFGHI"

print( s[0:2] )

print( s[1:2] )

print( s[2:4] )

print( s[0:5] )

print( s[1:8] )

AB
B
CD
ABCDE
BCDEFGH

In [ ]:
s = "ABCDEFGHI"

print( s[:2] )

print( s[1:] )

print( s[0:-2] )

print( s[:])

print( s[-1:] )

print ( s[-5:7] )

print( s[-2:-1] )

AB
BCDEFGHI
ABCDEFG
ABCDEFGHI
I
EFG
H

***
3.5 Sequências e tempo
***

In [ ]:
# Programa 3.1 - Exemplo de sequencia e tempo

divida = 0
compra = 100

divida = divida + compra

compra = 200

divida = divida + compra

compra = 300

divida = divida + compra

compra = 0

print(divida)

600

***
3.7 Entrada de dados
***

In [ ]:
nome = input("Digite seu nome: ")
print(f"Você digitou {nome}")
print(f"Olá, {nome}!")

Digite seu nome: Juan
Você digitou Juan
Olá, Juan!

3.7.1 Conversão de entrada de dados

In [ ]:
anos = int(input("Anos de serviço: "))
valor_por_ano = float(input("Valor por ano: "))

bonus = anos * valor_por_ano
print(f"Bônus de R$ {bonus:5.2f}")

Anos de serviço: 1900
Valor por ano: 25
Bônus de R$ 47500.00


***
Exercicios
***

3.7 Faça um programa que peça dois números inteiros. Imprim a soma desses dois numeros

In [ ]:
numer1 = int(input("Digite um numero: "))
numer2 = int(input("Digite outr numero: "))

soma = numer1 + numer2

print(f"O resultado da somatorio é de {soma}")

3.8 Escreva um programa que leia um valor em metros e o exiba convertido em milimetros

In [ ]:
metros = float(input("Digite sua estatura em metros: ")) #informe no formado NA
milimetros = 1000

conversao = metros * milimetros

print(f"A sua estatura e de {metros:3.2f} metros, quando convertemos para milimetros o resultado e {conversao} milimetros" )

Digite sua estatura em metros: 1.82
A sua estatura e de 1.82 metros, quando convertemos para milimetros o resultado e 1820.0 milimetros

3.9 Escreva um programa que leia a quantidade de dias, horas, minutos e segundos do usuario. Calculo o total em segundos

In [ ]:
from datetime import datetime

def obter_data_usuario(prompt):
    while True:
        try:
            data = input(prompt)
            return datetime.strptime(data, "%d/%m/%Y")
        except ValueError:
            print("Formato de data inválido. Por favor, insira no formato dd/mm/aaaa.")

# Obter datas do usuário
diaCompra = obter_data_usuario("Informe a data de compra: ")  # 22/12/2022
diaAtual = obter_data_usuario("Informe a data atual: ")  # 17/09/2024

# Verificar se a data de compra é posterior à data atual
if diaCompra > diaAtual:
    print("A data de compra não pode ser posterior à data atual.")
else:
    # Cálculo da diferença
    diasCorridos = (diaAtual - diaCompra).days
    horasCorridas = diasCorridos * 24
    minutosCorridos = horasCorridas * 60
    segundosCorridos = minutosCorridos * 60

    # Apresentação dos resultados
    print(f"O total de segundos de utilização da plataforma foi de {segundosCorridos}")

Informe a data de compra: 22/12/2022
Informe a data atual: 17/09/2024
O total de segundos de utilização da plataforma foi de 54864000

3.10 Faca um programa que calcule o aumento de um salario. Ele deve solicitar o valor do salario e a porcentagem do aumento. Exiba o valor do aumento e do novo salario

In [ ]:
salarioAtual = float(input("Digite seu salario atual: "))
reajuste = float(input("Informe o percentual de reajuste: ")) #10.73

aumentoSalarial = salarioAtual * (reajuste/100)
print(f"O aumento efetivo do salario foi de {aumentoSalarial}")

Digite seu salario atual: 6200
Informe o percentual de reajuste: 10.73
O aumento efetivo do salario foi de 665.26

3.11 Faca um programa que solitice o preco de uma mercadoria e o percentual de desconto. Exiba o valor do desconto e o preco a pagar

In [ ]:
valorDaMercadoria = float(input("Digite o valor da mercadoria: "))
valorDoDesconto = float(input("Informe o valor de desconto o item: "))

desconto = valorDaMercadoria * (valorDoDesconto / 100)
valorDaMercadoriaLiquido = valorDaMercadoria - desconto

print(f"O valor do desconto foi de R$ {desconto:5.2f}, e o valor liquido da mercadoria agora e de R$ {valorDaMercadoriaLiquido: 5.2f}")

Digite o valor da mercadoria: 15
Informe o valor de desconto o item: 5.00
O valor do desconto foi de R$  0.75, e o valor liquido da mercadoria agora e de R$   14.25

3.12 Escreva um programa que calcule o tempo de uma viagem de carro. Pergunte a distancia e a velocidade media esperada para a viagem

In [ ]:
distancia = int(input("Qual a distancia a ser percorrida:"))
velocidadeMedia = int(input("Qual a velocidade media esperada para percorrer esta distancia:"))

tempoDeViagem = distancia / velocidadeMedia

print(f"Para chegar ao destino levando em consideracao a distancia informada, e a velocidade media. O tempo total da viagem sera de {tempoDeViagem:1.0f} horas")

Qual a distancia a ser percorrida:100
Qual a velocidade media esperada para percorrer esta distancia:50
Para chegar ao destino levando em consideracao a distancia informada, e a velocidade media. O tempo total da viagem sera de 2 horas

3.13 Escreva um programa que converta uma temperatura digitada em C em F. A forma para essa conversao e: F = 9 x c / 5 + 32

In [ ]:
grausCelsius = int(input("Informe a temperatura atual em graus celsius:"))

fahrenheit = (9 * grausCelsius / 5) + 32

print(f"A conversao de graus celsius {grausCelsius}, para fahrenheit e de {fahrenheit}")

Informe a temperatura atual em graus celsius:32
A conversao de graus celsius 32, para fahrenheit e de 89.6

 3.14 Escreva um programa que pergunte a quantidade de km percorridos por um carro alugado pelo usuario, assim como a quantidade de dias pelos quais o carro foi alugado. Calcule o preco a pagar, sabendo que o carro custa R 60,00 por dia e R 0,15 por km rodado.

In [ ]:
distanciaPercorrida = int(input("Informe a distancia percorrida em km:"))
diasAlugados = int(input("Informe a quantidade de dias que o carro esteve alugado:"))

custoDiario = 60
custoKm = 0.15

valorAPagar = diasAlugados * custoDiario + distanciaPercorrida * custoKm

print(f"O valor total da fatura referente ao aluguel do carro e de: R$ {valorAPagar:5.2f}")

Informe a distancia percorrida em km:10
Informe a quantidade de dias que o carro esteve alugado:10
O valor total da fatura referente ao aluguel do carro e de: R$ 601.50

3.15 Escreva um programa para calcular a reducao do tempo de vida de um fumante. Pergunte a quantidade de cigarros fumados por dia e quantos anos ele ja fumou. Considere que um fumante perde 10 minutos de vida a cada cigarro e calcule quantos dias de vida um fumante perdera. Exiba o total em dias

In [ ]:
cigarros_por_dia = int(input("Quantos cigarros em media o usuario utiliza:")) #10
anos_fumando = int(input("Por quantos anos o usuario e fumante: ")) #15

reducao_em_minutos = anos_fumando * 365 * cigarros_por_dia * 10
# Um dia tem 24 x 60 minutos
reducao_em_dias = reducao_em_minutos / (24 * 60)

print(f"\nCaso o usuario fume {cigarros_por_dia} cigarros por dia, durante {anos_fumando} anos, ele tera perdido aproximadamente {reducao_em_dias: 6.0f} dias de vida.")

Quantos cigarros em media o usuario utiliza:10
Por quantos anos o usuario e fumante: 15

Caso o usuario fume 10 cigarros por dia, durante 15 anos, ele tera perdido aproximadamente    380 dias de vida.